@model WebProgramlamaProje.Entities.Product

<div class="card m-3" style="width: 18rem;">
    <img src="@Model.PhotoUrl" class="card-img-top rounded my-3" alt="@Model.Name">

    <div class="card-body">
        <h5 class="card-title">@Model.Name  </h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Price.ToString("c")</li>
        <li class="list-group-item">@Model.Brand.Name</li>
        <li class="list-group-item">@Model.Category.Name</li>
    </ul>
    <div class="card-body text-center">
        <div class="btn-group">
            <a href="@Url.Action("Details", "Product", new {id=Model.Id})" class="btn btn-outline-primary">
                <i class="fa-solid fa-magnifying-glass-arrow-right"></i>
                İncele
            </a>
            <a href="@Url.Action("AddCart", "Cart", new {id=Model.Id})" class="btn btn-primary">
                <i class="fa-solid fa-cart-plus"></i>
                Sepete At
            </a>
        </div>
    </div>
</div>
